body {
  font-family: "Raleway", sans-serif;
  
}

/* Estilo iconos redes sociales footer */
.enlace {
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 25px;
}

.contenedor-parrafo {
  border: solid;
  border-radius: 30px;
  background-color: grey;
  padding-right: 10px;
  margin-bottom: 10px;
  border-color: cyan;
}

.perfil {
  font-family: 'Sono', sans-serif;
  font-weight: 300;
  border: solid;
  border-radius: 30px;
  border-color: cyan;
  background-color: gray;
  padding: 10px;
  
}

.perfil i {
  color: white;
}

.borde-card {
  border: solid;
  border-color: gray;
  margin-bottom:10px ;
}

h6{
  color: green;
  font-weight: 500;
  text-align: end;
}

form {
  border: solid;
  border-radius: 10px;
  border-color: cyan;
  padding: 10px;
  background-color: grey;
}

/* Hero Section */

#Hero-Section {
  background-image: url("/assets/img/paisajes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
